#map {
  width: 100%;
  height: 100%;
}
#map svg {
  fill: #fafafa;
  stroke: #323232;
  stroke-width: 0.5;
}
.city-dot {
  stroke: none;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.cd-1920-1930 {
  fill: #ffc64c;
}
.cd-1930-1935 {
  fill: #ffbc4d;
}
.cd-1935-1940 {
  fill: #ffb251;
}
.cd-1940-1945 {
  fill: #ffa758;
}
.cd-1945-1950 {
  fill: #ff9c62;
}
.cd-1950-1955 {
  fill: #ff906e;
}
.cd-1955-1960 {
  fill: #ff857c;
}
.cd-1960-1965 {
  fill: #ff7b8b;
}
.cd-1965-1970 {
  fill: #ff729c;
}
.cd-1970-1975 {
  fill: #ff6bae;
}
.cd-1975-1980 {
  fill: #ff67c0;
}
.cd-1980-1985 {
  fill: #a459f2;
}
.cd-1985-1990 {
  fill: #7e54f8;
}
.cd-1990-1995 {
  fill: #0065e4;
}
.cd-1995-2000 {
  fill: #0077d0;
}
.cd-2000-2005 {
  fill: #0088bd;
}
.cd-2005-2010 {
  fill: #009aa9;
}
.cd-2010-2015 {
  fill: #00ab95;
}
.cd-2015-- {
  fill: #00bd82;
}
.tooltip {
  z-index: 99;
  display: none;
  width: 340px;
  position: absolute;
  pointer-events: none;
  background: #fff;
  border: 4px solid #000;
}
.tooltip__vorschau {
  width: 100%;
  height: 260px;
  background: repeating-linear-gradient(45deg, #000, #000 50px, #fff 50px, #fff 100px);
  background-size: 500% 500%;
  -webkit-animation: loopLoading 1s ease infinite;
          animation: loopLoading 1s ease infinite;
}
.tooltip__vorschau__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.tooltip__inhalt {
  position: relative;
  padding: 20px;
}
.tooltip__titel {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 20px;
}
.tooltip__autor {
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.5;
}
.tooltip__jahr-staat {
  text-transform: uppercase;
  margin-top: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  opacity: 1;
}
.tooltip__status {
  position: absolute;
  top: -20px;
  right: 20px;
  padding: 4px 8px;
  color: #fff;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  text-align: right;
}
@-webkit-keyframes loopLoading {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 86% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}
@keyframes loopLoading {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 86% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}
.noUi-target {
  z-index: 999;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 84%;
  background: linear-gradient(90deg, #ffc64c 5%, #ffbc4d 10%, #ffb251 15%, #ffa758 20%, #ff9c62 25%, #ff906e 30%, #ff857c 35%, #ff7b8b 40%, #ff729c 45%, #ff6bae 50%, #ff67c0 55%, #a459f2 60%, #7e54f8 65%, #0065e4 70%, #0077d0 75%, #0088bd 80%, #009aa9 85%, #00ab95 90%, #00bd82 95%);
}
.noUi-target:before {
  position: absolute;
  top: -20px;
  left: -52px;
  content: "jars";
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .noUi-target:before {
    display: none;
  }
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.noUi-connects {
  z-index: 0;
}
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
  left: auto;
  right: 0;
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -17px;
  left: auto;
}
.noUi-horizontal {
  height: 14px;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-horizontal .noUi-handle {
  width: 32px;
  height: 28px;
  left: -17px;
  top: -48px;
  cursor: ew-resize;
}
.noUi-horizontal .noUi-handle:after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background: #000;
}
.noUi-horizontal .noUi-handle:before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #000;
  display: block;
  width: 4px;
  height: 28px;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-handle {
  position: absolute;
  background: #000;
  cursor: default;
}
.noUi-handle:focus {
  outline: none;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.noUi-connect {
  will-change: transform;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  background: #000;
}
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  -webkit-transform: translate(0, -50%, 0);
          transform: translate(0, -50%, 0);
  padding-left: 25px;
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  background: #fff;
  color: #000;
  text-align: center;
  white-space: nowrap;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  font-size: 17px;
}
.noUi-tooltip:focus {
  outline: none;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
.wrap {
  width: 100%;
  height: 100%;
}
.header {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__titel {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: calc(6px + 8vw);
  text-transform: uppercase;
  pointer-events: none;
  -webkit-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1024px) {
  .header__titel {
    font-size: 90px;
  }
}
.header__titel span {
  color: #616064;
}
.header__untertitel {
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 15px;
}
.header__anzahl {
  margin-top: 12px;
  font-family: 'Space Mono', monospace;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 20px;
}
.menu {
  z-index: 9999;
  position: absolute;
  top: 0;
  right: -360px;
  background: #fff;
  min-height: 100vh;
  border-left: 1px solid #000;
  padding: 108px 40px 20px;
  max-width: 360px;
  font-family: 'Space Mono', monospace;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  transition: right 0.2s ease;
}
.menu p a {
  color: #0f2bff;
}
.menu p a:hover {
  color: #f45;
}
.menu_closed {
  right: 0;
}
.menu__kopf__ref-link {
  padding: 2px 4px 8px;
  display: inline-block;
  margin-bottom: 12px;
  background: #616064;
  color: #fff;
}
.menu__kopf__ref-link:hover {
  background: #000;
}
.menu__burger {
  cursor: pointer;
  position: absolute;
  left: -60px;
  top: 30px;
  width: 60px;
  height: 48px;
  background: #000;
  transition: background 0.1s ease, left 0.1s ease;
}
.menu__burger:after {
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  position: absolute;
  display: block;
  width: 60%;
  height: 3px;
  background: #fff;
  transition: top 0.1s ease;
}
.menu__burger:before {
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  position: absolute;
  display: block;
  width: 60%;
  height: 3px;
  background: #fff;
  transition: top 0.1s ease;
}
.menu__burger_closed {
  left: 40px;
  background: #f45;
}
.menu__burger_closed:after {
  top: 50%;
}
.menu__burger_closed:before {
  top: 50%;
}
