@import "variables"
@import "map"
@import "slider"

*
    box-sizing: border-box

html, body
    height: 100%
    overflow hidden

.wrap
    width: 100%
    height: 100%

.header
    pointer-events: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    &__titel
        font-family: 'Montserrat', sans-serif
        font-weight: 900
        font-size: calc(6px + 8vw)
        text-transform: uppercase
        pointer-events: none
        user-select: none
        @media screen and (min-width: $laptop-size)
            font-size: 90px
        span
            color: #616064
    &__untertitel
        font-family: 'Space Mono', monospace
        text-transform: uppercase
        letter-spacing: 5px
        font-weight: bold
        font-size: 15px
    &__anzahl
        margin-top: 12px
        font-family: 'Space Mono', monospace
        text-transform: lowercase
        font-weight: bold
        font-size: 20px

.menu
    z-index: 9999
    position: absolute
    top: 0
    right: -360px
    background: #fff
    min-height: 100vh
    border-left: 1px solid #000
    padding: 108px 40px 20px
    max-width: 360px
    font-family: 'Space Mono', monospace
    display: flex
    flex-direction: column
    justify-content: space-between
    transition: right 0.2s ease
    p
        a
            color: #0f2bff
            &:hover
                color: #f45
    &_closed
        right: 0
    &__kopf
        &__ref-link
            padding: 2px 4px 8px
            display: inline-block
            margin-bottom: 12px
            background: #616064
            color: white
            &:hover
                background: #000
    &__burger
        cursor: pointer
        position: absolute
        left: -60px
        top: 30px
        width: 60px
        height: 48px
        background: #000
        transition: background 0.1s ease, left 0.1s ease
        &:after
            top: 60%
            left: 50%
            transform: translate(-50%, -50%)
            content: ""
            position: absolute
            display: block
            width: 60%
            height: 3px
            background: white
            transition: top 0.1s ease
        &:before
            top: 40%
            left: 50%
            transform: translate(-50%, -50%)
            content: ""
            position: absolute
            display: block
            width: 60%
            height: 3px
            background: white
            transition: top 0.1s ease
        &_closed
            left: 40px
            background: #f45
            &:after
                top: 50%
            &:before
                top: 50%
